* {
    box-sizing: border-box;
}

.container-fluid {
    max-width: 1000px;
}

.entry {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 2px 2px 10px #bbb;
    min-height: 7em;
    margin-bottom: 1em;
    padding: 15px;
}

.input-group {
    width: 100%;
}

#form-cat {
    max-width: 300px;
}

.navbar-right {
    margin-right: 0;
}

h2,
h3 {
    margin-top: 0;
}

.entry-title {
    font-size: 1.5em;
}

.entry-description {
    margin-right: 70px;
}

.entry-control {
    float: right;
    color: #bbb;
    margin-left: 15px;
}

.navbar-brand {
    font-family: serif;
    font-size: 3em;
}

.prof-pic {
    height: 50px;
    margin: -15px 0;
    border-radius: 50%;
}

.navbar-link {
    margin-left: 15px;
}

.visit {
    float: right;
}

.login-well {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#signinButton {
    vertical-align: middle;
}
