{% extends "layout.html" %}
{% block content %}
    <!-- List entries, if any -->
    {% if entries %}
        <div class="row">
            {% for entry in entries %}
            <article id='{{ entry.id }}' class="entry col-xs-12">
                <h3 class="entry-title">{{ entry.name }}</h3>
                <p class="entry-description">{{ entry.description }}</p>
            </article>
            {% endfor %}
        </div>

    <!-- The category is empty -->
    {% else %}
        <p>This category is currently empty</p>
    {% endif %}
{% endblock %}