<!DOCTYPE html>
<html>
<head>
    <title>Codemap</title>
</head>
<body>
    <header>
        <h1>Codemap</h1>
        <h2>Roadmap To Becoming a Full Stack Web Developer</h2>
    </header>
    <main>
        <aside>
            <ul>
            {% for cat in categories %}
                <li><a href="{{ url_for('category', cat=cat.name) }}">{{ cat.long_name }}</a></li>
            {% endfor %}
            </ul>
        </aside>
        <section>
            {% block content %}{% endblock %}
        </section>
    </main>
</body>
</html>