<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Codemap</title>
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}>  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <!-- For adding additional elements per page -->
    {% block head %}{% endblock %}
</head>
<body>
    <header class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Codemap</a>
            </div>
            <!-- Login info -->
            <p class="navbar-text navbar-right">
                {% if user %}
                    <img class="prof-pic navbar-link" src="{{ pic }}">
                    <span class="navbar-link"><strong>{{ user.name }}</strong></span>
                    <form action="{{ url_for('logout') }}" method="POST">
                        <input type=hidden name="csrf_token" value="{{ csrf_token }}">
                        <button type="submit" class="btn btn-default">
                            Logout
                        </button>
                    </form>
                {% else %}
                    <a href="{{ url_for('login', redir=request.path) }}" class="navbar-link">Login</a>
                {% endif %}
            </p>
        </div>
    </header>

    <main class="container-fluid">
        <div class="row">
            <!-- List categories, if any -->
            {% if categories %}
                <aside class="col-sm-3">
                    <div class="list-group">
                    {% for cat in categories %}
                        <a class="list-group-item
                                {% if this_cat and this_cat.name == cat.name %} active {% endif %}"
                                href="{{ url_for('category', cat=cat.name) }}">
                            {{ cat.long_name }}
                        </a>
                    {% endfor %}
                    </div>
                </aside>

                <section class="col-sm-9">
            {% else %}
                <section class="col-xs-12">
            {% endif %}

            <!-- Flash messages -->
            <div class="row">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for class, message in messages %}
                            <div class="col-xs-12">
                                <div class="alert alert-dismissible {{ class }}" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <!-- Main content -->
            {% block content %}{% endblock %}
            </section>
        </div>
    </main>

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
