<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Codemap</title>
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.min.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Codemap</a>
            </div>
            <p class="navbar-text navbar-right">
                {% if user %}
                    <span>Logged in as: <strong>{{ user.name }}</strong></span>
                    <a href="{{ url_for('logout') }}" class="navbar-link">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="navbar-link">Login</a>
                {% endif %}
            </p>
        </div>
    </header>
    <main class="container-fluid">
        <div class="row">
            <aside class="col-sm-3">
                <div class="list-group">
                {% for cat in categories %}
                    <a class="list-group-item
                            {% if this_cat and this_cat.name == cat.name %} active {% endif %}"
                            href="{{ url_for('category', cat=cat.name) }}">
                        {{ cat.long_name }}
                    </a>
                {% endfor %}
                </div>
            </aside>

            <section class="col-sm-9">
                {% block content %}{% endblock %}
            </section>
        </div>
    </main>

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>