{% extends "layout.html" %}
{% block head %}
    <!-- Google login scripts -->
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
{% endblock %}

{% block content %}

    <script>
        // handle sign in result
        function signInCallback(authResult) {
            if (authResult['code']) {

                // Hide the sign-in button
                $('#signInButton').hide();
                $('#prompt').html('Communicating with the server...')


                // Send the code to the server
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("gconnect", csrf_token=csrf_token) }}',
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                        window.location='{{ request.args.get('redir') }}'
                    },
                    error: function() {
                        $('#signInButton').show();
                        $('#prompt').html('Something went wrong while communicating with the server')
                    },
                    processData: false,
                    data: authResult['code']
                });
            } else {
                // something went wrong whie contacting google
                $('#signInButton').show();
            }
        }
    </script>

    <div class="well text-center login-well">
        <h2>Login</h2>
        <br>
        <p id="prompt">Sign in with Google</p>
        <br>

        <div id="signInButton">
            <span class="g-signin"
                data-scope="profile email"
                data-clientid="445427337286-ifvan84icij2rukh2nfmc61q9vdqfr9q.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
            </span>
        </div>
    </div>
{% endblock %}